In [41]:
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

In [42]:
df=pd.read_csv('../Data/Telco_customer_churn.csv')

In [43]:
df_copy=df.copy()

In [44]:
df.head()

,CustomerID,Count,Country,State,City,Zip Code,Lat Long,Latitude,Longitude,Gender,...,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Label,Churn Value,Churn Score,CLTV,Churn Reason
0,3668-QPYBK,1,United States,California,Los Angeles,90003,"33.964131, -118.272783",33.964131,-118.272783,Male,...,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,1,86,3239,Competitor made better offer
1,9237-HQITU,1,United States,California,Los Angeles,90005,"34.059281, -118.30742",34.059281,-118.307420,Female,...,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,1,67,2701,Moved
2,9305-CDSKC,1,United States,California,Los Angeles,90006,"34.048013, -118.293953",34.048013,-118.293953,Female,...,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,1,86,5372,Moved
3,7892-POOKP,1,United States,California,Los Angeles,90010,"34.062125, -118.315709",34.062125,-118.315709,Female,...,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,1,84,5003,Moved
4,0280-XJGEX,1,United States,California,Los Angeles,90015,"34.039224, -118.266293",34.039224,-118.266293,Male,...,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,1,89,5340,Competitor had better devices

In [45]:
cols_to_remove = [
    "CustomerID",
    "Count",
    "Country",
    "State",
    "City",
    "Zip Code",
    "Lat Long",
    "Latitude",
    "Longitude",
    "Churn Label",
    "Churn Score",
    "CLTV",
    "Churn Reason"
]

df_copy = df_copy.drop(columns=cols_to_remove)

In [46]:
df_copy.head()

,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Value
0,Male,No,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,1
1,Female,No,No,Yes,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,1
2,Female,No,No,Yes,8,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,1
3,Female,No,Yes,Yes,28,Yes,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,1
4,Male,No,No,Yes,49,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,1

In [ ]:
# select non-numerical columns
non_binary_cols = [

    "Online Security",
    "Online Backup",
    "Device Protection",
    "Tech Support",
    "Streaming TV",
    "Multiple Lines",
    "Streaming Movies"
]

# print unique values for each categorical column
for col in binary_cols:
    print(f"\n{col}")
    print(df_copy[col].unique())

Online Security
['Yes' 'No' 'No internet service']

Online Backup
['Yes' 'No' 'No internet service']

Device Protection
['No' 'Yes' 'No internet service']

Tech Support
['No' 'Yes' 'No internet service']

Streaming TV
['No' 'Yes' 'No internet service']

Multiple Lines
['No' 'Yes' 'No phone service']

Streaming Movies
['No' 'Yes' 'No internet service']

In [ ]:
binary_cols = [
    "Partner",
    "Dependents",
    "Senior Citizen",
    "Phone Service",
    "Paperless Billing",
    
]

df_copy[binary_cols] = df_copy[binary_cols].replace({"Yes": 1, "No": 0})

df_copy["Gender"] = df_copy["Gender"].map({"Male": 1, "Female": 0})

C:\Users\PUNITH\AppData\Local\Temp\ipykernel_5656\3083189248.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df_copy[binary_cols] = df_copy[binary_cols].replace({"Yes": 1, "No": 0})

In [51]:
df_copy.head()

,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Internet Service,Online Security,Online Backup,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn Value
0,1,0,0,0,2,1,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,1,Mailed check,53.85,108.15,1
1,0,0,0,1,2,1,No,Fiber optic,No,No,No,No,No,No,Month-to-month,1,Electronic check,70.70,151.65,1
2,0,0,0,1,8,1,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,1,Electronic check,99.65,820.5,1
3,0,0,1,1,28,1,Yes,Fiber optic,No,No,Yes,Yes,Yes,Yes,Month-to-month,1,Electronic check,104.80,3046.05,1
4,1,0,0,1,49,1,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,Month-to-month,1,Bank transfer (automatic),103.70,5036.3,1

In [ ]:
df_copy = pd.get_dummies(
    df_copy,
    columns=[
        
        "Contract",
        "Payment Method",
        "Internet Service",
        "Online Security",
        "Online Backup",
        "Device Protection",
        "Tech Support",
        "Streaming TV",
        "Multiple Lines",
        "Streaming Movies"
    ],
    drop_first=True
)

In [54]:
df_copy.head(5)

,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Paperless Billing,Monthly Charges,Total Charges,Churn Value,...,Device Protection_No internet service,Device Protection_Yes,Tech Support_No internet service,Tech Support_Yes,Streaming TV_No internet service,Streaming TV_Yes,Multiple Lines_No phone service,Multiple Lines_Yes,Streaming Movies_No internet service,Streaming Movies_Yes
0,1,0,0,0,2,1,1,53.85,108.15,1,...,False,False,False,False,False,False,False,False,False,False
1,0,0,0,1,2,1,1,70.70,151.65,1,...,False,False,False,False,False,False,False,False,False,False
2,0,0,0,1,8,1,1,99.65,820.5,1,...,False,True,False,False,False,True,False,True,False,True
3,0,0,1,1,28,1,1,104.80,3046.05,1,...,False,True,False,True,False,True,False,True,False,True
4,1,0,0,1,49,1,1,103.70,5036.3,1,...,False,True,False,False,False,True,False,True,False,True

In [55]:
bool_cols = df_copy.select_dtypes(include="bool").columns
df_copy[bool_cols] = df_copy[bool_cols].astype(int)

In [57]:
df_copy.head()

,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Paperless Billing,Monthly Charges,Total Charges,Churn Value,...,Device Protection_No internet service,Device Protection_Yes,Tech Support_No internet service,Tech Support_Yes,Streaming TV_No internet service,Streaming TV_Yes,Multiple Lines_No phone service,Multiple Lines_Yes,Streaming Movies_No internet service,Streaming Movies_Yes
0,1,0,0,0,2,1,1,53.85,108.15,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,2,1,1,70.70,151.65,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,8,1,1,99.65,820.5,1,...,0,1,0,0,0,1,0,1,0,1
3,0,0,1,1,28,1,1,104.80,3046.05,1,...,0,1,0,1,0,1,0,1,0,1
4,1,0,0,1,49,1,1,103.70,5036.3,1,...,0,1,0,0,0,1,0,1,0,1

In [58]:
df_copy.dtypes

Gender                                      int64
Senior Citizen                              int64
Partner                                     int64
Dependents                                  int64
Tenure Months                               int64
Phone Service                               int64
Paperless Billing                           int64
Monthly Charges                           float64
Total Charges                              object
Churn Value                                 int64
Contract_One year                           int64
Contract_Two year                           int64
Payment Method_Credit card (automatic)      int64
Payment Method_Electronic check             int64
Payment Method_Mailed check                 int64
Internet Service_Fiber optic                int64
Internet Service_No                         int64
Online Security_No internet service         int64
Online Security_Yes                         int64
Online Backup_No internet service           int64
Online Backup_Yes                           int64
Device Protection_No internet service       int64
Device Protection_Yes                       int64
Tech Support_No internet service            int64
Tech Support_Yes                            int64
Streaming TV_No internet service            int64
Streaming TV_Yes                            int64
Multiple Lines_No phone service             int64
Multiple Lines_Yes                          int64
Streaming Movies_No internet service        int64
Streaming Movies_Yes                        int64
dtype: object

0       False
1       False
2       False
3       False
4       False
        ...
7038    False
7039    False
7040    False
7041    False
7042    False
Name: Total Charges, Length: 7043, dtype: bool

In [68]:
df_copy.isna().sum().sort_values(ascending=False)

Gender                                    0
Internet Service_No                       0
Streaming Movies_No internet service      0
Multiple Lines_Yes                        0
Multiple Lines_No phone service           0
Streaming TV_Yes                          0
Streaming TV_No internet service          0
Tech Support_Yes                          0
Tech Support_No internet service          0
Device Protection_Yes                     0
Device Protection_No internet service     0
Online Backup_Yes                         0
Online Backup_No internet service         0
Online Security_Yes                       0
Online Security_No internet service       0
Internet Service_Fiber optic              0
Senior Citizen                            0
Payment Method_Mailed check               0
Payment Method_Electronic check           0
Payment Method_Credit card (automatic)    0
Contract_Two year                         0
Contract_One year                         0
Churn Value                               0
Total Charges                             0
Monthly Charges                           0
Paperless Billing                         0
Phone Service                             0
Tenure Months                             0
Dependents                                0
Partner                                   0
Streaming Movies_Yes                      0
dtype: int64

In [ ]:

obj_cols = df_copy.select_dtypes(include="object").columns

df_copy[obj_cols] = df_copy[obj_cols].apply(
    lambda x: pd.to_numeric(x, errors="coerce")
)

In [66]:
df_copy[obj_cols] = df_copy[obj_cols].fillna(
    df_copy[obj_cols].median()
)

In [67]:
df_copy.dtypes

Gender                                      int64
Senior Citizen                              int64
Partner                                     int64
Dependents                                  int64
Tenure Months                               int64
Phone Service                               int64
Paperless Billing                           int64
Monthly Charges                           float64
Total Charges                             float64
Churn Value                                 int64
Contract_One year                           int64
Contract_Two year                           int64
Payment Method_Credit card (automatic)      int64
Payment Method_Electronic check             int64
Payment Method_Mailed check                 int64
Internet Service_Fiber optic                int64
Internet Service_No                         int64
Online Security_No internet service         int64
Online Security_Yes                         int64
Online Backup_No internet service           int64
Online Backup_Yes                           int64
Device Protection_No internet service       int64
Device Protection_Yes                       int64
Tech Support_No internet service            int64
Tech Support_Yes                            int64
Streaming TV_No internet service            int64
Streaming TV_Yes                            int64
Multiple Lines_No phone service             int64
Multiple Lines_Yes                          int64
Streaming Movies_No internet service        int64
Streaming Movies_Yes                        int64
dtype: object

In [31]:
df_copy.describe()

,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Multiple Lines,Online Security,Online Backup,Device Protection,...,Monthly Charges,Total Charges,Churn Value,Contract_One year,Contract_Two year,Payment Method_Credit card (automatic),Payment Method_Electronic check,Payment Method_Mailed check,Internet Service_Fiber optic,Internet Service_No
count,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,6361.000000,5517.000000,5517.000000,5517.000000,...,7043.000000,7032.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000,7043.000000
mean,0.504756,0.162147,0.483033,0.231010,32.371149,0.903166,0.467065,0.365960,0.440276,0.439007,...,64.761692,2283.300441,0.265370,0.209144,0.240664,0.216101,0.335794,0.228880,0.439585,0.216669
std,0.500013,0.368612,0.499748,0.421508,24.559481,0.295752,0.498953,0.481742,0.496465,0.496311,...,30.090047,2266.771362,0.441561,0.406726,0.427517,0.411613,0.472301,0.420141,0.496372,0.412004
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,18.250000,18.800000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,9.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,35.500000,401.450000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,29.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,70.350000,1397.475000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,0.000000,1.000000,0.000000,55.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,89.850000,3794.737500,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,72.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,118.750000,8684.800000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [32]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

# split
X = df_copy.drop("Churn Value", axis=1)
y = df_copy["Churn Value"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, stratify=y, random_state=42
)

# columns to standardize
num_cols = [
    "Tenure Months",
    "Monthly Charges",
    "Total Charges"
]

scaler = StandardScaler()

X_train[num_cols] = scaler.fit_transform(X_train[num_cols])
X_test[num_cols] = scaler.transform(X_test[num_cols])

In [39]:
X_train.isna().sum()

Gender                                       0
Senior Citizen                               0
Partner                                      0
Dependents                                   0
Tenure Months                                0
Phone Service                                0
Multiple Lines                             559
Online Security                           1214
Online Backup                             1214
Device Protection                         1214
Tech Support                              1214
Streaming TV                              1214
Streaming Movies                          1214
Paperless Billing                            0
Monthly Charges                              0
Total Charges                                8
Contract_One year                            0
Contract_Two year                            0
Payment Method_Credit card (automatic)       0
Payment Method_Electronic check              0
Payment Method_Mailed check                  0
Internet Service_Fiber optic                 0
Internet Service_No                          0
dtype: int64

In [36]:
df_copy.to_csv("processed_churn.csv", index=False)

In [40]:
df_copy.isna().sum().sort_values(ascending=False)

Streaming Movies                          1526
Online Security                           1526
Online Backup                             1526
Device Protection                         1526
Tech Support                              1526
Streaming TV                              1526
Multiple Lines                             682
Total Charges                               11
Internet Service_Fiber optic                 0
Payment Method_Mailed check                  0
Payment Method_Electronic check              0
Payment Method_Credit card (automatic)       0
Contract_Two year                            0
Contract_One year                            0
Churn Value                                  0
Gender                                       0
Monthly Charges                              0
Paperless Billing                            0
Senior Citizen                               0
Phone Service                                0
Tenure Months                                0
Dependents                                   0
Partner                                      0
Internet Service_No                          0
dtype: int64

In [69]:
df_copy.to_csv("processed_data.csv", index=False)

In [71]:
df_copy.head()

,Gender,Senior Citizen,Partner,Dependents,Tenure Months,Phone Service,Paperless Billing,Monthly Charges,Total Charges,Churn Value,...,Device Protection_No internet service,Device Protection_Yes,Tech Support_No internet service,Tech Support_Yes,Streaming TV_No internet service,Streaming TV_Yes,Multiple Lines_No phone service,Multiple Lines_Yes,Streaming Movies_No internet service,Streaming Movies_Yes
0,1,0,0,0,2,1,1,53.85,108.15,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,1,2,1,1,70.70,151.65,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,1,8,1,1,99.65,820.50,1,...,0,1,0,0,0,1,0,1,0,1
3,0,0,1,1,28,1,1,104.80,3046.05,1,...,0,1,0,1,0,1,0,1,0,1
4,1,0,0,1,49,1,1,103.70,5036.30,1,...,0,1,0,0,0,1,0,1,0,1